# general
.virtual_documents
.ipynb_checkpoints
__pycache__
.vscode
.idea

# wandb
wandb

# file types
*.pkl
*.pth
*.aux
*.blg
*.log
*.out
*.bbl
*.synctex.gz

# directories
hw2/stud/checkpoints/*
!hw2/stud/checkpoints/.placeholder

hw2/stud/lightning_logs/
hw2/stud/saved_checkpoints/

logs/*
!logs/.placeholder
.vector_cache

# embeddings

glove.*